@import "../../../node_modules/highlight.js/styles/color-brewer.css";
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
code,
kbd,
pre,
samp {
  font-family: Consolas,Menlo,Courier,monospace;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.m-10 {
  margin-top: 10px;
}
.m-10 > button {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
section {
  color: #3f536e;
  font-size: 14px;
}
section .demo-block {
  padding: 16px;
  border: 1px solid #e2ecf4;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section hr {
  margin: 1.2em 0;
  border: 0;
  border-bottom: 1px solid #C5D9E8;
}
section p {
  padding: 0;
  line-height: 1.7;
  color: #3f536e;
  font-size: 14px;
}
section h1 {
  font-size: 24px;
}
section h1,
section h2,
section h3,
section h4,
section h5 {
  margin: 16px 0;
  line-height: 1.5;
}
section h2 {
  font-size: 18px;
}
section ul {
  margin: 16px 0;
  padding-left: 24px;
  list-style: disc;
}
section ul li {
  line-height: 1.8;
}
section pre {
  margin: 16px 0;
  padding: 16px;
  background-color: #F7F7F7;
  overflow: auto;
}
section pre code {
  padding: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
section code {
  padding: .3em .5em;
  font-size: .9em;
  vertical-align: middle;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  background-color: #F7F7F7;
}
section code.code_inline {
  padding: 0 .5em;
}
section img {
  vertical-align: middle;
}
section p + p {
  margin-top: 8px;
}
section a {
  color: #6190e8;
}
section table.table {
  display: block;
  width: 100%;
  background-color: #fff;
  color: #5e6d82;
  font-size: 14px;
  border-collapse: collapse;
  overflow: auto;
  margin-bottom: 50px;
}
section table.table th {
  border-top: 1px solid #f3f7fa;
  background-color: #FAFBFC;
  border-bottom: 1px solid #f3f7fa;
  padding: 10px 8px;
}
section table.table td {
  border-top: 1px solid #f3f7fa;
  border-bottom: 1px solid #f3f7fa;
  padding: 10px 8px;
}
section .child-lineHeight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
