/*
*   colors
*/
/*
* color hover
*/
/*
*Border
*/
/*
*Box-shadow
*/
/*
*button size
*/
/*
]*  alert size
 */
/*
text-input base style
*/
.w-input-box {
  width: 30rem;
  height: 4rem;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.w-input-box label {
  width: 5rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 1.1rem;
  white-space: pre-wrap;
  line-height: 1.3rem;
}
.w-input-box .text-input {
  width: 20rem;
  height: 2rem;
  outline: none;
  font-size: 1.1rem;
  background-color: #fff;
  padding-left: 0.5rem;
  color: #808080;
}
.w-input-box .text-input:focus {
  border: 1px solid #50bfff;
  outline: 1px solid #50bfff;
}
.w-input-box .w-input-valid {
  padding-left: 0.5rem;
}
