/*
*/
/*
*   colors
*/
/*
* color hover
*/
/*
*Border
*/
/*
*Box-shadow
*/
/*
*button size
*/
/*
]*  alert size
 */
/*
text-input base style
*/
/*input-style-phone*/
.w-input-box {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.w-input-box label {
  width: 20%;
  padding-right: 1rem;
  text-align: center;
  font-size: 1.11111111rem;
  white-space: pre-wrap;
  line-height: 1.3rem;
}
.w-input-box label span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.w-input-box label span i {
  color: inherit;
  font-size: 1.81111111rem;
}
.w-input-box .text-input {
  width: 65%;
  height: 50%;
  outline: none;
  font-size: 1.11111111rem;
  background-color: #fff;
  padding-left: 0.5rem;
  color: #808080;
}
.w-input-box .text-input:focus {
  border: 1px solid #50bfff;
  outline: 1px solid #50bfff;
  color: #50bfff;
}
.w-input-box .w-input-valid {
  padding-left: 0.5rem;
  color: #ff4949;
}
@media screen and (max-width: 500px) {
  .w-input-box {
    border: 1px solid #2c3e50;
    width: 18rem !important;
    height: 2.2rem !important;
    margin: 0.4rem 0;
  }
  .w-input-box label {
    font-size: 0.8rem;
    width: 3.5rem;
  }
  .w-input-box label i {
    font-size: 1rem;
  }
  .w-input-box .text-input {
    outline: none;
    width: 10rem;
    border: none;
    font-size: 0.8rem;
  }
  .w-input-box .text-input:focus {
    border: none;
    outline: none;
  }
  .w-input-box:focus {
    border: 1px solid #50bfff;
  }
}
