input {
  border: 1px solid #ccc;
  outline: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input:focus,
select:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
.clearfix:after {
  content: ".";
  height: 0px;
  display: block;
  clear: both;
  visibility: hidden;
}
.wrapper {
  width: 800px;
  margin: 20px 0px 50px 20px;
}
/*功能下拉框 整体壁纸*/
.functional-select-wrapper {
  width: 100%;
  position: relative;
  font-size: 14px;
}
/*展示容器*/
.functional-select-wrapper .display-container {
  width: 100%;
  min-height: 34px;
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 6px 12px 6px 12px;
  color: #555;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  word-break: break-all;
  cursor: pointer;
}
.functional-select-wrapper .display-container .single-selected {
  float: left;
}
/*单选 搜索框获取焦点后 display-container下边框圆弧去掉radius*/
.functional-select-wrapper .single-selected-focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.5s ease;
}
.functional-select-wrapper .display-container .drop {
  position: absolute;
  top: 4px;
  right: 6px;
  float: right;
  font-style: normal;
  transition: all 0.5s ease;
}
.functional-select-wrapper .display-container .drop-up {
  transform: rotate(180deg);
}
/*选项容器*/
.functional-select-wrapper .options-container {
  width: 100%;
  border: 1px solid #CCC;
  background-color: #FFF;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  box-sizing: border-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  z-index: 1;
}
.functional-select-wrapper .options-container .search-container {
  display: block;
  padding: 5px;
}
.functional-select-wrapper .options-container .search-container input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-left: 6px;
  display: block;
  border-radius: 4px;
}
.functional-select-wrapper .options-container .options-ul-list {
  max-height: 160px;
  list-style-type: none;
  overflow-x: visible;
  overflow-y: auto;
  cursor: pointer;
}
.functional-select-wrapper .options-container .options-ul-list li {
  height: 32px;
  line-height: 20px;
  box-sizing: border-box;
  text-indent: 5px;
  padding: 6px;
}
.functional-select-wrapper .options-container .options-ul-list li:hover {
  background-color: #5897fb;
  color: #FFF;
  transition: all 0.3s ease;
}
.functional-select-wrapper .options-container .options-ul-list .selected {
  background-color: #DDD;
}
/*多选框 展示容器*/
.functional-select-wrapper .multiple-select-container {
  overflow: hidden;
  padding: 6px 6px 0px 12px;
}
/*单个选中的item*/
.functional-select-wrapper .multiple-selected-item {
  width: auto;
  height: 20px;
  line-height: 15px;
  box-sizing: border-box;
  margin: 0px 5px 5px 0px;
  padding: 2px 15px 2px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  float: left;
  background: #eee;
}
.functional-select-wrapper .multiple-selected-item i {
  font-style: normal;
  position: absolute;
  right: 3px;
  top: 0px;
  cursor: pointer;
  color: #aaa;
}
.functional-select-wrapper .multiple-selected-item i:hover {
  font-weight: bolder;
  color: #000;
}
