/*
*/
/*
*   colors
*/
/*
* color hover
*/
/*
*Border
*/
/*
*Box-shadow
*/
/*
*button size
*/
/*
]*  alert size
 */
/*
text-input base style
*/
/*input-style-phone*/
.upload-block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.upload-block .uploadBtn .btn {
  position: relative;
}
.upload-block .uploadBtn .upload-input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 4.8rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  border: 1px solid;
  z-index: 10;
}
.upload-block .uploadBtn .upload-input:hover {
  cursor: pointer;
}
.upload-block .uploadBtn .disable-btn:hover {
  cursor: not-allowed;
}
.upload-block .uploadInfo {
  width: 100%;
  padding-left: 1rem;
  border-bottom: 2px solid #50bfff;
}
.upload-block .uploadInfo .fileList .file-name-block {
  margin-left: 0.25rem;
  background-color: rgba(220, 220, 220, 0.7);
  color: rgba(50, 50, 50, 0.9);
  display: inline-block;
  padding: 0 0.35rem;
  margin-bottom: 0.15rem;
  border-radius: 4px;
}
.upload-block .uploadInfo .fileList .file-name-block i:hover {
  cursor: pointer;
  color: #50bfff;
}
.upload-block .uploadInfo .fileList .placeholder-info {
  font-size: 1rem;
}
.upload-block .uploadInfo .fileList .placeholder-info-disable:hover {
  cursor: not-allowed;
}
.upload-block .upload-disable {
  width: 100%;
  padding-left: 1rem;
  border-bottom: 2px solid #ccc;
}
